@charset "UTF-8";
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

li {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  text-decoration: none;
}

body.modal-open {
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  font-family: Raleway, sans-serif;
  color: #212121;
  text-decoration: none;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .logo {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    margin-right: 93px;
  }
}

.logo:hover {
  color: #2196f3;
}

.logo span {
  color: #2196f3;
}

.page-header {
  min-height: 60px;
  margin-bottom: 0px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .page-header {
    min-height: 80px;
  }
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .main-nav {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
}

.menu-button:hover, .menu-button:focus {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  background-color: #ffffff;
  text-align: center;
  font-size: 20px;
  z-index: 10;
}

.menu-container.is-open {
  display: block;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    font-size: 0px;
  }
}

/* главный контент страницы */
.hero {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #757575;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/hero-mobile.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  padding-top: 118px;
  padding-bottom: 0px;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../img/hero-mobile2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: url("../img/hero-tablet.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../img/hero-tablet2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: url("../img/hero-desctop.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../img/hero-desctop2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
  }
}

.main-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  width: 360px;
}

@media screen and (min-width: 1200px) {
  .main-title {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}

/* модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 93px 15px;
  overflow-y: scroll;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 10;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  display: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  background-color: #ffffff;
  position: relative;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -20%) scale(1);
            transform: translate(-50%, -20%) scale(1);
    max-width: 450px;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    top: 50%;
  }
}

.icon-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: #ffffff;
  outline: none;
  cursor: pointer;
  fill: currentColor;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close:hover, .icon-close:focus {
  color: #2196f3;
}

.modal-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0px 0px 12px;
}

@media screen and (min-width: 1200px) {
  .modal-title {
    line-height: 1.15;
  }
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  position: relative;
  fill: currentColor;
  margin-bottom: 10px;
}

.form-field:focus-within > .form-input {
  border: 1px solid #2196f3;
}

.form-field:focus-within > .modal-icon {
  color: #2196f3;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  display: inline-block;
  margin: 0px;
  fill: currentColor;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input {
  cursor: pointer;
  margin: 0px;
  padding: 11px 0px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  font-size: 14px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment {
  cursor: pointer;
  font-size: 14px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding: 12px 16px;
  resize: none;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment:focus {
  border: 1px solid #2196f3;
  color: #212121;
}

.comment-margin {
  margin-bottom: 20px;
}

.form-title {
  padding-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox:checked + .icon-check {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border-color: transparent;
  background-color: #2196f3;
  background-image: url("../img/icon-check.svg");
  background-size: contain;
  background-origin: border-box;
  border-radius: 4px;
}

.icon-check {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border: 2px solid #2a2a2a;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
}

.label {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #757575;
  text-align: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

@media (min-width: 1200px) {
  .label {
    font-size: 12px;
    line-height: 1.71;
  }
}

.contract {
  color: #2196f3;
}

.modal-button {
  border: 0px solid transparent;
  border-radius: 4px;
  padding: 10px 55px;
  min-width: 200px;
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.06em;
  font-family: inherit;
  margin: 0px;
  cursor: pointer;
  outline: none;
}

.button {
  display: inline-block;
  border: 0px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  color: #ffffff;
  background: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.06em;
  font-family: inherit;
  margin: 0px;
  cursor: pointer;
  outline: none;
}

/* наши преимущества */
.section-one {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .section-one {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section-one {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.adv-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #212121;
}

@media screen and (max-width: 767px) {
  .adv-title {
    text-align: center;
  }
}

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .feature-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .feature-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: -15px;
  }
}

.feature-list .text {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  font-weight: 400;
  margin: 0px;
}

.feature-list .title {
  color: #212121;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .item-title:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .item-title {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .item-title {
    margin: 15px;
    width: calc((100% - 8 * 15px) / 4);
  }
}

.picture {
  height: 120px;
  background-color: #f5f4fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.symbol {
  width: 70px;
  height: 70px;
}

/* навыки */
@media screen and (max-width: 1199px) {
  .hidden-section {
    display: none;
  }
}

.section-skills {
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section-skills {
    padding-bottom: 94px;
  }
}

.section-title {
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0px;
  padding: 0px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.skills-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills-list .title {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  padding: 27px 0px;
}

.li:not(:last-child) {
  width: 370px;
  margin: 0px 30px 0px 0px;
}

.position {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.context {
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  width: 370px;
}

.team {
  background-color: #f5f4fa;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team .title {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team .text-team {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #757575;
  font-weight: 400;
  margin-bottom: 16px;
  margin-top: 0px;
}

@media screen and (min-width: 768px) {
  .team .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .team .list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: -15px;
  }
}

.name-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin: 0px 0px 10px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .name-title {
    font-weight: 700;
    font-size: 14px;
  }
}

.photo {
  margin-bottom: 30px;
}

.icon-team {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .icon-team:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .icon-team:nth-child(3) {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .icon-team {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .icon-team {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 767px) {
  .icon-team:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .icon-team {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .icon-team {
    margin: 15px;
    width: calc((100% - 8 * 15px) / 4);
  }
}

.social-link {
  padding-right: 32px;
  padding-left: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ton:hover,
.ton:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.icon {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
  fill: currentColor;
}

.icon:last-child {
  margin-right: 0px;
}

.application-link {
  margin-bottom: 30px;
}

.application-link:not(:last-child) {
  margin-right: 10px;
}

/* постоянные клиенты */
.list-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -15px;
  padding: 0px;
}

@media screen and (min-width: 768px) {
  .list-clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .list-clients {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: -15px;
  }
}

.section-client {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section-client {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-client .client {
  width: calc((100% - 4 * 15px) / 2);
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .section-client .client {
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .section-client .client {
    width: calc((100% - 12 * 15px) / 6);
    margin: 15px;
  }
}

.link-client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-client:hover, .link-client:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

.left-footer .logo {
  color: #ffffff;
  display: block;
  margin-bottom: 20px;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.left-footer {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .left-footer {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .left-footer {
    margin-bottom: 0px;
    margin-right: 70px;
    text-align: start;
  }
}

.page-footer {
  background-color: #2f303a;
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
  text-decoration: none;
}

.address-list {
  margin-bottom: 9px;
}

.address-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
}

.join {
  display: inline-block;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .join {
    margin-bottom: 102px;
  }
}

@media screen and (min-width: 1200px) {
  .join {
    margin-bottom: 0px;
    text-align: start;
  }
}

.icon-net {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  padding: 0px;
}

.icon-net-link {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 0px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-net-link:hover {
  background-color: #2196f3;
}

.image {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.footer-markup {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-markup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.button-send {
  text-align: left;
  border: 0px solid transparent;
  border-radius: 4px;
  padding: 10px 28px 10px 29px;
  min-width: 200px;
  color: #ffffff;
  background: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  margin: 0px;
  cursor: pointer;
  outline: none;
  position: relative;
}

@media screen and (min-width: 768px) {
  .button-send {
    width: 200px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    bottom: 0;
    right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .button-send {
    position: absolute;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-bottom: 0;
  }
}

.icon-send {
  width: 24px;
  height: 24px;
  cursor: pointer;
  fill: #ffffff;
  position: absolute;
  left: 148px;
  top: 50%;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
}

.footer-form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    position: relative;
    width: 570px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer-email {
  padding: 15px 16px;
  outline: none;
  cursor: pointer;
  height: 50px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
  color: #ffffff;
  margin-bottom: 20px;
  margin-top: 0px;
}

@media screen and (min-width: 768px) {
  .footer-email {
    width: 450px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-email {
    width: 358px;
    margin-bottom: 0px;
  }
}

.footer-label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  margin-top: 0px;
}

@media screen and (min-width: 768px) {
  .footer-label {
    margin-top: 0px;
  }
}

@media screen and (min-width: 768px) {
  .footer-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

/* навигация сайта */
.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  vertical-align: middle;
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .site-nav .item:not(:first-child) {
    margin-left: 50px;
    cursor: pointer;
  }
}

.site-nav .link {
  position: relative;
  display: block;
  color: #212121;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .site-nav .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.2;
  }
}

.site-nav .link.current {
  color: #2196f3;
}

.link:hover,
.link:focus {
  color: #2196f3;
}

.link.current::after {
  content: "";
  opacity: 1;
  display: block;
  bottom: 0;
  margin: auto;
  margin-top: 8px;
  cursor: pointer;
  width: 61px;
  height: 4px;
  background-color: #2196f3;
  background-size: auto;
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  .link.current::after {
    width: 100%;
    left: 0;
    position: absolute;
  }
}

.item {
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .item:not(:last-child) {
    margin-bottom: 40px;
  }
  .item:last-child {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .item {
    margin-bottom: 0px;
  }
}

.contact-link {
  color: #757575;
  font-size: 18px;
  line-height: 1.17;
  text-decoration: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-link:hover, .contact-link:focus {
  color: #2196f3;
  fill: #2196f3;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contact {
  cursor: pointer;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .contact {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 84px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contact .item:not(:first-child) {
  margin-left: 50px;
  cursor: pointer;
}

.pin-tel {
  margin-right: 10px;
  width: 10px;
  height: 16px;
  color: #757575;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .pin-tel {
    width: 10px;
    height: 14px;
    margin-right: 8px;
  }
}

.pin {
  margin-right: 10px;
  color: #757575;
  width: 16px;
  height: 11px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .pin {
    width: 14px;
    height: 10px;
    margin-right: 8px;
  }
}

.contact-item {
  fill: currentColor;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .contact-item:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-item {
    font-size: 14px;
    line-height: 1.14;
  }
  .contact-item:not(:last-child) {
    margin-right: 30px;
  }
}

/* кнопки навигации */
.selective-list {
  padding-top: 60px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .selective-list {
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .selective-list {
    padding-top: 94px;
    padding-bottom: 50px;
  }
}

.selective-list .button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

@media screen and (min-width: 768px) {
  .selective-list .button-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.selective-list .push {
  margin-right: 8px;
}

.selective-list .push:nth-child(-n + 3) {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .selective-list .push:nth-child(-n + 3) {
    margin-bottom: 0px;
  }
}

.selective-list .push:last-child {
  margin-right: 0px;
}

.button-navigation {
  background: #f5f4fa;
  color: #212121;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  border: 0px solid transparent;
  margin: 0px;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.push :hover,
.push :focus {
  color: #ffffff;
  background-color: #2196f3;
  outline: none;
}

/* основной контент страницы */
.work-list {
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .work-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
    padding-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .work-list {
    margin: -15px;
  }
}

.work-element {
  display: list-item;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-element:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .work-element {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .work-element {
    margin: 15px;
    width: calc((100% - 6 * 15px) / 3);
  }
}

.work-element:hover, .work-element:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio {
  border-top: 1px solid #ECECEC;
}

.portfolio .work-element:hover .text,
.portfolio .work-element:focus .text {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.title-list {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding: 20px 24px 4px;
  margin: 0px;
}

.title-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
  padding: 0px 24px 20px;
  margin: 0px;
}

.img {
  display: block;
  width: 100%;
}

.box {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-decoration:hover .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.option {
  margin: 0px;
  border: 1px solid #eeeeee;
}

.description {
  padding: 63px 24px;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  margin: 0px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
}

.text {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-decoration {
  text-decoration: none;
  color: #212121;
  display: block;
}

@media screen and (min-width: 768px) {
  .our-work {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .our-work {
    padding-bottom: 94px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*# sourceMappingURL=main.css.map */